.section-about{
    background-color: $color-grey-ligth-1;
    padding: 15rem 0;
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
}

.section-features{
    height: 120vh;
    padding: 20rem 0;
    background-image: 
    linear-gradient(to right bottom,
     rgba($color-primary, 0.7), 
     rgba($color-primary-dark, 0.7)), 
     url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    transform: skewY(-7deg);
    margin-top: -7.5rem;

    & > *{
        transform: skewY(7deg);
    }
} 